In [1]:
import pandas as pd

In [4]:
stats = pd.read_csv('./results/fight_stats.csv', names=["team", "pokemon", "stat_name", "value"])
stats = stats.groupby(["team", "pokemon", "stat_name"]).sum().reset_index()
stats.head()

            team     pokemon               stat_name  value
0  example_team1  Butterfree          Count_struggle      0
1  example_team1  Butterfree    Total_buffs_received      0
2  example_team1  Butterfree       Total_damage_done   1921
3  example_team1  Butterfree   Total_damage_received   4768
4  example_team1  Butterfree  Total_debuffs_received      5

In [10]:
stats.stat_name.unique()

array(['Count_struggle', 'Total_buffs_received', 'Total_damage_done',
       'Total_damage_received', 'Total_debuffs_received', 'Total_kills',
       'Total_misses', 'Total_moves_used', 'Total_no_effect',
       'Total_not_effective', 'Total_one_shot', 'Total_super_effective',
       'Total_turns'], dtype=object)

In [12]:
top3_super_efective_moves_by_team = stats[stats.stat_name == "Total_super_effective"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_super_efective_moves_by_team

            team  value
0  example_team1    139
1  example_team2     52
2  example_team4     23

In [13]:
top3_not_efective_moves_by_team = stats[stats.stat_name == "Total_not_effective"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_not_efective_moves_by_team

            team  value
0  example_team3    633
1  example_team1    234
2  example_team2    213

In [14]:
top3_no_effect_moves_by_team = stats[stats.stat_name == "Total_no_effect"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_no_effect_moves_by_team

            team  value
0  example_team1      0
1  example_team2      0
2  example_team3      0

In [18]:
top3_misses_by_team = stats[stats.stat_name == "Total_misses"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_misses_by_team

            team  value
0  example_team3    166
1  example_team2     85
2  example_team1     51

In [15]:
top3_killer_teams = stats[stats.stat_name == "Total_kills"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_killer_teams

            team  value
0  example_team3    179
1  example_team2    170
2  example_team4    133

In [16]:
top3_one_shot_teams = stats[stats.stat_name == "Total_one_shot"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_one_shot_teams

            team  value
0  example_team1      9
1  example_team2      0
2  example_team3      0

In [8]:
top3_tankiest_teams = stats[stats.stat_name == "Total_damage_received"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_tankiest_teams

            team  value
0  example_team1  28170
1  example_team4  27448
2  example_team2  26934

In [17]:
top3_n_turns_by_team = stats[stats.stat_name == "Total_turns"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_n_turns_by_team

            team  value
0  example_team1   1736
1  example_team4   1609
2  example_team2   1402

In [11]:
top3_highest_damage_teams = stats[stats.stat_name == "Total_damage_done"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_highest_damage_teams

            team  value
0  example_team2  29113
1  example_team3  27954
2  example_team4  23360

In [19]:
top3_buffer_teams = stats[stats.stat_name == "Total_buffs_received"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_buffer_teams

            team  value
0  example_team1    295
1  example_team2     96
2  example_team3      0

In [20]:
top_3_debuffed_teams = stats[stats.stat_name == "Total_debuffs_received"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top_3_debuffed_teams

            team  value
0  example_team3    417
1  example_team1    353
2  example_team2    322

In [21]:
top3_moves_used = stats[stats.stat_name == "Total_moves_used"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_moves_used

            team  value
0  example_team1   1675
1  example_team4   1522
2  example_team2   1312

In [22]:
top3_count_struggle = stats[stats.stat_name == "Count_struggle"].groupby(["team"]).sum().sort_values(by="value", ascending=False).reset_index()[["team", "value"]].head(3)
top3_count_struggle

            team  value
0  example_team1      0
1  example_team2      0
2  example_team3      0